@using System.Globalization;
@model ESchedule.Models.LessonViewModel
@inject IUserService userService

@{
    ViewData["Title"] = "Деталь уроку";
    CultureInfo cultureUa = new CultureInfo("uk-UA");
    string nameOfWeek = Model.DayTime.ToString("ddd", cultureUa);
    var user = await userService.GetUserByEmail(User.Identity.Name);
    var userCreator = await userService.GetUserById(Model.Classes[0].IdUserAdmin);
}


<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <h2 class="fw-bold">@Html.DisplayFor(model => model.NameLesson)</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="card-text">
                <p>@Html.DisplayFor(model => model.DescriptionLesson)</p>
            </div>
            <div class="card-text">
                <p>
                    <h5 class="fw-bold">@nameOfWeek @Html.DisplayFor(model=>model.DayTime) @Html.DisplayFor(model => model.BeginTime)-@Html.DisplayFor(model => model.EndTime)</h5>
                </p>
            </div>
            <div class="card-text">
                <ul class="list-group list-group-horizontal">
                    @foreach (var item in Model.Classes)
                    {
                        <li class="list-group-item list-group-item-light">@item.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" asp-action="Index">Повернутися до розкладу</a>
                    @if (User.IsInRole("Teacher") && Model.Classes.Any(a => a.IdUserAdmin == user.Id))
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-userName="@User.Identity.Name">Відредагувати</a>
                    }
                </div>
                <div class="col align-self-center text-end">
                    <div class="text-body-secondary">Додано: @Html.DisplayFor(model => model.Created), Додав: @userCreator.Name @userCreator.SurName @userCreator.PatronymicName</div>
                </div>
            </div>
        </div>
    </div>
</div>