@model ESchedule.Models.LessonViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі уроку</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва уроку
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameLesson)
        </dd>
        <dt class = "col-sm-2">
            Опис
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLesson)
        </dd>
        <dt class = "col-sm-2">
            Час 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model=>model.DayTime) @Html.DisplayFor(model => model.BeginTime)-@Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            Створений
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Відредагувати</a> |
    <a asp-action="Index">Повернутися до розкладу</a>
</div>
