@model ESchedule.Models.ClassViewModel
@inject IUserService userService

@{
    ViewData["Title"] = "Курс";
    var user = await userService.GetUserByEmail(User.Identity.Name);
    var userCreator = await userService.GetUserById(Model.IdUserAdmin);
}

<div class="container">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <h2 class="fw-bold">@Html.DisplayFor(model => model.Name)</h2>
                    <h4>Код для приєднання: @Html.DisplayFor(model=>model.CodeToJoin)</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="card-text">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
            <div class="card-text text-center">
                <h3>Список учнів</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ПІБ
                        </th>
                        <th>
                            Роль у системі
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersAccount)
                    {
                        <tr>
                            <td>
                                @item.SurName @item.Name @item.PatronymicName
                            </td>
                            <td>
                                @item.Role.ToString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    @if (User.IsInRole("Teacher") && Model.IdUserAdmin == user.Id)
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-userName="@User.Identity.Name">Відредагувати</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Видалити курс</a>
                    }
                </div>
                <div class="col align-self-center text-end">
                    <div class="text-body-secondary">Вчитель: @userCreator.Name @userCreator.SurName @userCreator.PatronymicName</div>
                </div>
            </div>
        </div>
    </div>
</div>
