@model IEnumerable<ESchedule.Models.ClassViewModel>
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Класи";
    var userName = User.Identity.Name;
    int currectIdUser = -1;

    if (userName != null)
    {
        // var currectUser = await userManager.GetUserByEmail(userName);
        currectIdUser = int.Parse(userManager.GetUserId(User));
    }
}

<div class="container-fluid">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-auto">
                    <form id="searchform" method="post">
                        <div class="input-group">
                            <input class="form-control" type="search" name="searchName" placeholder="Пошук" />
                            <button role="search" type="submit" class="btn btn-outline-secondary">Пошук</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary hstack" asp-action="JoinClass">
                        <span class="material-icons me-2">
                            person_add
                        </span>
                        Приєднатися до курсу
                    </a>
                </div>
            </div>
            @if (User.IsInRole("Teacher"))
            {
                <div class="row">
                    <div class="col-auto">
                        <a class="btn btn-success hstack" asp-action="Create">
                            <span class="material-icons me-2">
                                add_circle
                            </span>
                            Створити клас
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <svg class="card-img-top" style="background-color:@item.PrimaryColor"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="link-underline link-underline-opacity-0 link-body-emphasis" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                        </h5>
                        <p class="card-text">@item.Description</p>
                        @if (User.IsInRole("Teacher") && item.IdUserAdmin == currectIdUser)
                        {
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <a asp-action="Edit" class="btn btn-success hstack" asp-route-id="@item.Id">
                                    <span class="material-icons me-2">
                                        edit
                                    </span>
                                    Редагувати
                                </a>
                                <a asp-action="Delete" class="btn btn-danger hstack" asp-route-id="@item.Id">
                                    <span class="material-icons me-2">
                                        delete
                                    </span>
                                    Видалити
                                </a>
                            </div>                      
                        }
                    </div>
                </div>
            </div>  
        }
    </div>
</div>
